body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 16px;
    color: #212733;
}

.h2 {
    font-size: 48px;
    text-align: center;
}

.cnt_col {
    width: 1920px;
    margin: 0 auto;
}

.header {
    background: center / contain no-repeat url('img/main-banner.png');
    /* padding: 0 50px; */
    height: 1030px;
    display: flex;
    flex-flow: column;
}

.header_top {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}

.header_nav_btn {
    border: none;
    background: rgba(000, 000, 000, 0);
}

.header_title_b {
    margin: 180px auto;
    text-align: center;
}

.header_title {
    font-size: 74px;
    font-weight: 400;
    text-transform: uppercase;
}

.header_title_text {
    font-size: 18px;
    margin-top: 22px;
}

.btn {
    position: relative;
    display: block;
    padding: 15px 60px 15px 20px;
    border: 1px solid #000;
    color: #000;
    text-decoration: none;
}

.btn::before {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    border: 2px solid #000;
    border-left: none;
    border-bottom: none;
    right: 30px;
    top: 20px;
    transform: rotate(45deg);
}

.header_link_special {
    max-width: 280px;
    margin: 60px auto 0;
}

.about_company {
    display: flex;

}

.about_company_text {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-self: center;
    margin: auto;
}

.about_company_p {
    text-align: right;
    margin: 10px auto 0;
}

.our_offers {
    display: flex;
    flex-flow: column;
    align-items: center;
    background: #1A1F25;
    color: #fff;
    padding: 70px 0;
}

table {
    margin-top: 70px;
    border-spacing: 0;
}

.first_line td {
    border-bottom: 1px solid #595959;
    border-right: 1px solid #595959;
}

.first_line :last-child {
    border-right: none;
}

.second_line td {
    border-right: 1px solid #595959;
}

.second_line :last-child {
    border-right: none;
}

.fird_line td{
    border-top: 1px solid #595959;
    border-right: 1px solid #595959;
}

.fird_line :last-child {
    border-right: none;
}

td {
    text-align: center;
    padding: 20px;
    width: 240px;
    height: 240px;
}

td img {
    margin: 0 auto 20px;
}

.table_button.btn {
    display: block;
    color: #fff;
    border-color: #fff;
    border: 1px solid #fff;
    
}

td .btn::before {
    border-color: #fff;  
}

.our_advantages {
    background: center / contain no-repeat url('img/our_advant.png') ;
    height: 900px;
    padding: 350px 0 0 350px;
    text-align: left;
}

.h2.our_advantages_title {
    text-align: left;
    margin-bottom: 85px;
}

.advantages {
    display: grid;
    grid-template-columns: 650px 650px;
    grid-template-rows: 110px 110px;
}

.advantage {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-weight: 600;
}

.advantage_icon {
    margin-right: 30px;
}

.form_price {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 940px;
}

.form_part {
    background: center / contain no-repeat url('img/form_bg.png');
    width: 935px;
    height: 940px;
}

.form {
    display: flex;
    flex-flow: column;
    width: 510px;
}

.price_part {
    background: #000;
    width: 985px;
    height: 940px;
}

.price_cards {
    display: flex;
    justify-content: flex-start;
}